@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

$DeepGreen: #114232;
$GrassGreen: #2c7407;
$Yellow: #fcdc2a;
$PaleYellow: #f9f8d1;

$font: "Open Sans", sans-serif;

body {
  background-color: $PaleYellow;
  display: flex;
  justify-content: center;
}

button {
  color: $PaleYellow;
  background-color: $DeepGreen;
  font-family: $font;
  font-size: 5vw;
  font-size: larger;
  border: none;
  &:hover {
    background-color: $GrassGreen;
    border-style: none;
    color: $PaleYellow;
    border: none;
  }
  text-decoration: none;
  padding: 0.3vw 1.5vw;
  border-radius: 10px;
  margin: 1vw;
}

.form-container {
  font-family: $font;
  color: $DeepGreen;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sign-in-form,
.sign-up-form {
  margin: 4vw;
  // background-color: aqua;
  display: flex;
  flex-direction: column;
  width: 450px;
  height: 200px;
  margin-bottom: 0;
  
}

.switch-button {
  width: 425px;
  margin-top: 0;
}

.sign-in-username,
.sign-up-username {
  border: none;
  padding: 2vw;
  margin: 1vw;
  border-radius: 20px;
}

.sign-in-password,
.sign-up-password {
  border: none;
  padding: 2vw;
  margin: 1vw;
  border-radius: 20px;
}

.sign-up-wrap,
.sign-in-wrap {
  font-family: $font;
  display: flex;
  justify-content: center;
}

.sign-up-text,
.sign-in-text {
  color: $DeepGreen;
  text-align: center;
}
.postFormWrap {
  font-family: $font;
  background-color: lighten($DeepGreen, 10%); 
  border-radius: 20px;
  border: solid black; 
  width: 85vw; 
}
.postFormWrap p{
  font-family: $font;
  margin-left: 35px;
  margin-bottom: 0px;
  font-size: larger;
  font-weight: bold;
  color: $PaleYellow;
}

.createPostForm{
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5vw;
  margin-top: 1vw;
  .time-box,
  .date-box,
  .weather-box,
  .location-box,
  .species-box,
  .textarea-box,
  .title-box {
    font-family: $font;
    background-color: $PaleYellow;
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    width: 75vw;
  }
  .textarea-box{
    font-family: $font;
    height: 10vh;
  }
  #createPostButton{
    margin-top: 20px;
    margin-bottom: 0px;
    padding: 10px;
    width: 20vw;
  }
}
.postContainer{
  margin-top: 20px;
  background-color: transparentize($DeepGreen, 0.3); 
  border: solid black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .postUtils{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    input {
      font-family: $font;
      font-size: larger;
      padding: 0.3vw 1.5vw;
      border-radius: 10px;
      margin: 1vw;
    }
    button {
      padding: 5px;
      width: 100px;
    }
    p {
      font-family: $font;
      margin-left: 35px;
      font-size: larger;
      font-weight: bold;
      color: $PaleYellow;
    }
  }
  .post{
    font-family: $font;
    width: 75vw;
    border: solid 3px $DeepGreen;
    border-radius: 20px;
    background-color: $PaleYellow;
    a {
      float: right;
    }
    p {
      margin: 0;
    }

    button {
      padding: 5px;
      width: 100px;
      float: right;

    }
    .postdetails {
      margin-top: 5px;
      background-color: transparentize($DeepGreen, 0.7);
      border-radius: 5px;
      padding: 5px;
      height: 10vw;
    }

  }
}

.modalContainer {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  .editModal {
    h2{
      margin-right: auto;
      margin-bottom: auto;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    height: 20em;
    width: 30em;
    border-radius: 1rem;
    padding: 2rem;
    font-family: $font;
    #editpostContent{
      margin-top: 1rem;
      width: 90%;
      height: 70%;
    }
  }
}

