@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

$DeepGreen: #114232;
$GrassGreen: #2c7407;
$Yellow: #fcdc2a;
$PaleYellow: #f9f8d1;

$font: "Open Sans", sans-serif;

body {
  background-color: $PaleYellow;
  display: flex;
  justify-content: center;
}

button {
  color: $PaleYellow;
  background-color: $DeepGreen;
  font-family: $font;
  font-size: 5vw;
  font-size: larger;
  border: none;
  &:hover {
    background-color: $GrassGreen;
    border-style: none;
    color: $PaleYellow;
    border: none;
  }
  text-decoration: none;
  padding: 0.3vw 1.5vw;
  border-radius: 10px;
  margin: 1vw;
}

.form-container {
  font-family: $font;
  color: $DeepGreen;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sign-in-form,
.sign-up-form {
  margin: 4vw;
}

.sign-in-username,
.sign-up-username {
  border: none;
  padding: 2vw;
  margin: 1vw;
  border-radius: 20px;
}

.sign-in-password,
.sign-up-password {
  border: none;
  padding: 2vw;
  margin: 1vw;
  border-radius: 20px;
}

.sign-up-wrap,
.sign-in-wrap {
  display: flex;
  justify-content: center;
}

.sign-up-text,
.sign-in-text {
  color: $DeepGreen;
  text-align: center;
}
.createPostForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5vw;
  .time-box,
  .date-box,
  .weather-box,
  .location-box,
  .species-box,
  .textarea-box,
  .title-box {
    border: none;
    border-radius: 5px;
    margin: 5px;
    width: 50vw;
  }
  .textarea-box{
    height: 10vh;
  }
  #createPostButton{
    width: 20vw;
  }
}
.postContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  .postUtils{
    display: flex;
    flex-direction: row;
    align-items: center;
    #refreshButton{
      margin-left: auto;
    }
  }
  .post{
    width: 80vw;
    border: solid 3px $DeepGreen;
    border-radius: 20px;
    background-color: rgb(161, 182, 120);
  }
}

.modalContainer {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  .editModal {
    h2{
      margin-right: auto;
      margin-bottom: auto;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    height: 20em;
    width: 30em;
    border-radius: 1rem;
    padding: 2rem;
    font-family: $font;
    #editpostContent{
      margin-top: 1rem;
      width: 90%;
      height: 70%;
    }
  }
}

